@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: 'Poppins', sans-serif;
  --font-mono: 'Geist Mono', monospace;
  --opacity-color: 255, 255, 255;
  /* white as default RGB */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.blob {
  background: conic-gradient(from 2.35rad,
      #d3ed10,
      #e91e63,
      #30d627,
      #ff6f00);
  filter: blur(80px);
  animation: float 10s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translate(0px, 0px) scale(1);
  }

  50% {
    transform: translate(30px, -20px) scale(1.1);
  }

  100% {
    transform: translate(0px, 0px) scale(1);
  }
}


.text-reveal {
  display: inline;
  background: linear-gradient(to right,
      rgba(var(--opacity-color), 1) 0%,
      rgba(var(--opacity-color), 1) 50%,
      rgba(var(--opacity-color), 0.2) 50%,
      rgba(var(--opacity-color), 0.2) 100%);
  background-clip: text;
  background-size: 200% 100%;
  background-position: right bottom;
  color: transparent;
  background-repeat: no-repeat;
}

.bubble {
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}